<div>
    <h2 id="page-heading">
        <span jhiTranslate="bonGatewayApp.farm.cow.linage-details.title"
            [translateValues]="{ earTagId: linage?.earTagId, familyname: linage?.familyname }">Linage X</span>
    </h2>

    <div class="clearfix" *ngIf="loading$ | async">
        <div class="spinner-border spinner-border-sm float-right" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <article *ngIf="article$ | async as article" class="linage-article-container">
        <section *ngFor="let section of article.sections" class="linage-section">
            <h4 *ngIf="section?.title">{{ section?.title }}</h4>
            <p *ngIf="section?.ingress">{{ section?.ingress }}</p>
            <p *ngIf="section?.body">{{ section?.body }}</p>

            <figure *ngIf="section?.imageContentType" class="figure linage-section-figure">
                <img [src]="'data:' + section?.imageContentType + ';base64,' + section?.image" alt="" class="figure-img img-fluid">
                <figcaption *ngIf="section?.caption" class="figure-caption">{{section?.caption}}</figcaption>
            </figure>
        </section>
    </article>

    <h3>Descendants</h3>
    <div class="dam-container d-flex align-content-start flex-wrap">
        <div *ngFor="let dam of dams$ | async" class="dam-item p-2" [ngClass]="{
        'is-role-anonymous': dam?.visibility == 'ROLE_ANONYMOUS',
        'is-role-user': dam?.visibility == 'ROLE_USER',
        'is-role-admin': dam?.visibility == 'ROLE_ADMIN'
      }">
            <a [title]="'Dam' + dam?.id" [routerLink]="['/farm', 'cow', 'dam', dam?.earTagId]">
                <figure class="dam-figure figure">
                    <img [src]="dam.photo$ | async" alt="{{dam?.earTagId}} {{ dam?.familyname }}"
                        class="dam-img figure-img img-fluid rounded">
                    <figcaption class="dam-img-caption text-center">{{dam?.earTagId}} {{ dam?.familyname }}</figcaption>
                </figure>
            </a>
        </div>
    </div>

</div>
