.dam-item {
  &.is-role-user,
  &.is-role-admin {
    opacity: 0.5;
  }
}

.dam-img {
  min-width: 200px;
  max-width: 400px;
  min-height: 200px;

  &.img-thumbnail {
    border-color: theme-color('primary');
  }
}

a > .dam-figure {
  font-size: 1.5rem;

  &:hover {
    text-decoration: underline;
  }
}
