<div>
    <h1 id="page-heading">
        <span jhiTranslate="bonGatewayApp.farm.cow.sire-list.title">Sires</span>
    </h1>

    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>

    <div class="sire-container d-flex align-content-start flex-wrap">
        <div *ngFor="let sire of sires" class="sire-item p-2" [jhiBonVisibilityClass]="sire?.visibility">
            <a [title]="'Sire' + sire?.earTagId" [routerLink]="['/farm', 'cow', 'sire', sire?.earTagId]">
                <figure class="sire-figure figure">
                    <img [jhiCowPicture]="sire.picture$ | async"
                         src="/content/images/bon/v4/bon-logo-primary-v4mod-400x300.png"
                         sizes="400px"
                         alt="{{sire?.earTagId}}"
                         class="sire-img figure-img img-fluid img-thumbnail">
                    <figcaption class="sire-img-caption text-center">{{sire?.earTagId}} {{ sire!.name | titlecase }}</figcaption>
                </figure>
            </a>
        </div>
    </div>

    <div class="search-results"
         infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"></div>

</div>
