<div>
    <h1 id="page-heading">
      <span jhiTranslate="bonGatewayApp.farm.cow.sire-details.title"
            [translateValues]="{ earTagId: sire?.earTagId, name: sire?.name! | titlecase }">Sire X</span>
    </h1>

    <div>
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>
    </div>

    <jhi-cow-article [article]="article$ | async"></jhi-cow-article>

    <div class="row">
        <div class="col-lg-3">
            <div *ngIf="sire" class="sire-container" [jhiBonVisibilityClass]="sire?.visibility">
                <jhi-cow-card [cow]="sire" [matri]="matri$ | async" [patri]="patri$ | async"></jhi-cow-card>
            </div>
        </div>
        <div class="col-lg-9">
            <div *ngFor="let pic of pictures$ | async" class="sire-item" [jhiBonVisibilityClass]="pic?.visibility">
                <figure class="sire-figure figure">
                    <img [jhiCowPicture]="pic"
                         src="http://populated.by.directive"
                         sizes="(min-width: 992px) 75vw, 100vw"
                         alt="{{ pic?.caption }}"
                         class="img-fluid sire-img"/>
                </figure>
            </div>
        </div>
    </div>
</div>
