<div>
    <h1 id="page-heading">
      <span jhiTranslate="bonGatewayApp.farm.cow.dam-details.title"
            [translateValues]="{ earTagId: dam?.earTagId, familyname: dam?.name! | titlecase }">Dam X</span>
    </h1>

    <div>
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>
    </div>

    <jhi-cow-article [article]="article$ | async"></jhi-cow-article>

    <div class="row">
        <div class="col-lg-3">
            <div *ngIf="dam" class="dam-container" [jhiBonVisibilityClass]="dam?.visibility">
                <jhi-cow-card [cow]="dam" [matri]="matri$ | async" [patri]="patri$ | async"></jhi-cow-card>
            </div>
        </div>
        <div class="col-lg-9">
            <div *ngFor="let pic of pictures$ | async" class="dam-item" [jhiBonVisibilityClass]="pic?.visibility">
                <figure class="dam-figure figure">
                    <img [jhiCowPicture]="pic"
                         src="/content/images/bon/v4/bon-logo-primary-v4mod-400x300.png"
                         sizes="(min-width: 992px) 75vw, 100vw"
                         alt="{{ pic?.caption }}"
                         class="img-fluid dam-img"/>
                </figure>
            </div>
        </div>
    </div>
</div>
