<div>
  <h2 id="page-heading">
      <span jhiTranslate="bonGatewayApp.farm.cow.dam-details.title"
          [translateValues]="{ earTagId: dam?.earTagId, familyname: dam?.name }">Dam X</span>
  </h2>

  <div class="clearfix" *ngIf="loading$ | async">
      <div class="spinner-border spinner-border-sm float-right" role="status">
          <span class="sr-only">Loading...</span>
      </div>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div *ngIf="dam" class="cow-container" 
  [ngClass]="{
    'is-role-anonymous': dam?.visibility == 'ROLE_ANONYMOUS',
    'is-role-user': dam?.visibility == 'ROLE_USER',
    'is-role-admin': dam?.visibility == 'ROLE_ADMIN'
  }">      
    <p>BORN: {{ dam!.birthDate | date:'yyyy-MM-dd' }}</p>    
    <p>W0: {{ dam!.weight0 }} - W200: {{ dam!.weight200 }} - W365: {{ dam!.weight365 }}</p>

    <p *ngIf="matri$ | async as matri">
      <span>MATRI: </span>
      <a *ngIf="matri; else noMatri" 
        [title]="'Matri' + matri?.earTagId" 
        [routerLink]="['/farm', 'cow', 'dam', matri?.earTagId]">{{ matri?.earTagId }} {{ matri?.name }}</a>        
      <ng-template #noMatri>{{ dam?.matriId }}</ng-template>
    </p>
    
    <p *ngIf="patri$ | async as patri">
      <span>PATRI: </span>
      <a *ngIf="patri; else noPatri" 
        [title]="'Patri' + patri?.earTagId" 
        [routerLink]="['/farm', 'cow', 'sire', patri?.earTagId]">{{ patri?.earTagId }} {{ patri?.name }}</a>        
      <ng-template #noPatri>{{ dam?.patriId }}</ng-template>
    </p>
  </div>    


  <article *ngIf="article$ | async as article" class="dam-article-container">
      <section *ngFor="let section of article.sections" class="dam-section">
          <h4 *ngIf="section?.title">{{ section?.title }}</h4>
          <p *ngIf="section?.ingress">{{ section?.ingress }}</p>
          <p *ngIf="section?.body">{{ section?.body }}</p>

          <figure *ngIf="section?.imageContentType" class="figure dam-section-figure">
              <img [src]="'data:' + section?.imageContentType + ';base64,' + section?.image" alt="" class="figure-img img-fluid">
              <figcaption *ngIf="section?.caption" class="figure-caption">{{section?.caption}}</figcaption>
          </figure>
      </section>
  </article>  

  <h3>Pictures</h3>

  <div *ngFor="let pic of pictures$ | async" class="dam-item p-2">    
    <figure class="dam-figure figure" [jhiBonVisibilityClass]="pic?.visibility">
      <img [jhiCowPicture]="pic"
        sizes="(min-width: 768px) 50vw, 100vw"
        alt="{{ pic?.caption }}" 
        class="img-fluid" />
    </figure>
  </div>

</div>
