@import 'src/main/webapp/content/scss/bon';

.dam-card {
  font-size: 1.4rem;
}

.dam-item {
  &.is-role-user,
  &.is-role-admin {
    opacity: 0.5;
  }
}

.dam-img {
  border: 2px solid $primary-color;
  padding: 3px;
  border-radius: 5px 5px 5px 5px/25px 25px 25px 5px;
}
