.linage-item {
  &.is-role-user,
  &.is-role-admin {
    opacity: 0.5;
  }
}

.linage-img {
  min-width: 300px;
  min-height: 225px;
}

a > .linage-figure {
  font-size: 1.5rem;

  &:hover {
    text-decoration: underline;
  }
}
