<div>
    <h1 id="page-heading">
        <span jhiTranslate="bonGatewayApp.farm.cow.linage-list.title">Linages</span>
    </h1>

    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>

    <div class="linage-container d-flex align-content-start flex-wrap">
        <div *ngFor="let linage of linages$ | async" class="linage-item p-2"
             [jhiBonVisibilityClass]="linage?.visibility">
            <a [title]="'Linage' + linage?.earTagId" [routerLink]="['/farm', 'cow', 'linage', linage?.earTagId]">
                <figure class="linage-figure figure">
                    <img [jhiCowPicture]="linage.picture$ | async"
                         src="/content/images/bon/v4/bon-logo-primary-v4mod-400x300.png"
                         sizes="400px"
                         alt="{{linage?.earTagId}} {{ linage?.familyname }}"
                         class="linage-img figure-img img-fluid img-thumbnail">
                    <figcaption
                        class="linage-img-caption text-center">{{linage?.earTagId}} {{ linage?.familyname }}</figcaption>
                </figure>
            </a>
        </div>
    </div>

</div>
