<div>
    <h2 id="page-heading">
        <span jhiTranslate="bonGatewayApp.bonLivestockServicePhoto.home.title">Photos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-photo" [routerLink]="['/photo/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="bonGatewayApp.bonLivestockServicePhoto.home.createLabel">
            Create a new Photo
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="photos?.length === 0">
        <span jhiTranslate="bonGatewayApp.bonLivestockServicePhoto.home.notFound">No photos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="photos && photos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="image"><span jhiTranslate="bonGatewayApp.bonLivestockServicePhoto.image">Image</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="caption"><span jhiTranslate="bonGatewayApp.bonLivestockServicePhoto.caption">Caption</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="height"><span jhiTranslate="bonGatewayApp.bonLivestockServicePhoto.height">Height</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="width"><span jhiTranslate="bonGatewayApp.bonLivestockServicePhoto.width">Width</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="taken"><span jhiTranslate="bonGatewayApp.bonLivestockServicePhoto.taken">Taken</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="visibility"><span jhiTranslate="bonGatewayApp.bonLivestockServicePhoto.visibility">Visibility</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cattle.earTagId"><span jhiTranslate="bonGatewayApp.bonLivestockServicePhoto.cattle">Cattle</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let photo of photos ;trackBy: trackId">
                    <td><a [routerLink]="['/photo', photo.id, 'view']">{{ photo.id }}</a></td>
                    <td>
                        <a *ngIf="photo.image" (click)="openFile(photo.imageContentType, photo.image)">
                            <img [src]="'data:' + photo.imageContentType + ';base64,' + photo.image" style="max-height: 30px;" alt="photo image"/>
                        </a>
                        <span *ngIf="photo.image">{{ photo.imageContentType }}, {{ byteSize(photo.image) }}</span>
                    </td>
                    <td>{{ photo.caption }}</td>
                    <td>{{ photo.height }}</td>
                    <td>{{ photo.width }}</td>
                    <td>{{ photo.taken | date:'medium' }}</td>
                    <td jhiTranslate="{{ 'bonGatewayApp.UserRole.' + photo.visibility }}">{{ photo.visibility }}</td>
                    <td>
                        <div *ngIf="photo.cattle">
                            <a [routerLink]="['/cattle', photo.cattle?.id, 'view']" >{{ photo.cattle?.earTagId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/photo', photo.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/photo', photo.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(photo)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="photos && photos.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
