<div>
    <h2 id="page-heading">
        <span jhiTranslate="bonGatewayApp.bonReplicaServiceJournalEntry.home.title">Journal Entries</span>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="journalEntries?.length === 0">
        <span jhiTranslate="bonGatewayApp.bonReplicaServiceJournalEntry.home.notFound">No journalEntries found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="journalEntries && journalEntries.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="bonGatewayApp.bonReplicaServiceJournalEntry.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="date"><span jhiTranslate="bonGatewayApp.bonReplicaServiceJournalEntry.date">Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="edited"><span jhiTranslate="bonGatewayApp.bonReplicaServiceJournalEntry.edited">Edited</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="herdId"><span jhiTranslate="bonGatewayApp.bonReplicaServiceJournalEntry.herdId">Herd Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="newHerdId"><span jhiTranslate="bonGatewayApp.bonReplicaServiceJournalEntry.newHerdId">New Herd Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="subState1"><span jhiTranslate="bonGatewayApp.bonReplicaServiceJournalEntry.subState1">Sub State 1</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="subState2"><span jhiTranslate="bonGatewayApp.bonReplicaServiceJournalEntry.subState2">Sub State 2</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bovine.earTagId"><span jhiTranslate="bonGatewayApp.bonReplicaServiceJournalEntry.bovine">Bovine</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let journalEntry of journalEntries ;trackBy: trackId">
                    <td><a [routerLink]="['/journal-entry', journalEntry.id, 'view']">{{ journalEntry.id }}</a></td>
                    <td jhiTranslate="{{ 'bonGatewayApp.EntryStatus.' + journalEntry.status }}">{{ journalEntry.status }}</td>
                    <td>{{ journalEntry.date | date:'medium' }}</td>
                    <td>{{ journalEntry.edited | date:'medium' }}</td>
                    <td>{{ journalEntry.herdId }}</td>
                    <td>{{ journalEntry.newHerdId }}</td>
                    <td>{{ journalEntry.subState1 }}</td>
                    <td>{{ journalEntry.subState2 }}</td>
                    <td>
                        <div *ngIf="journalEntry.bovine">
                            <a [routerLink]="['/bovine', journalEntry.bovine?.id, 'view']" >{{ journalEntry.bovine?.earTagId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/journal-entry', journalEntry.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="journalEntries && journalEntries.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
