<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-6">
        <h1 class="display-2" jhiTranslate="home.title">Welcome, bovine hugger!</h1>
        <p class="lead" jhiTranslate="home.ingress">ingress</p>
        <p jhiTranslate="home.body">body</p>
    </div>
    <div class="col-lg-4"></div>
</div>
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-8">
        <img src="/content/images/bon/v4/bon-logo-primary-v4mod.svg" class="home-logo img-fluid" />
    </div>
    <div class="col-lg-1"></div>
</div>
<div class="row">
    <div class="col-lg-7"></div>
    <div class="col-lg-5">
        <h2 class="display-4" jhiTranslate="homeTech.title">Hello world!</h2>
        <p class="lead" jhiTranslate="homeTech.ingress"></p>
        <p jhiTranslate="homeTech.body"></p>
    </div>
</div>
