<div>
    <div class="row">
        <div class="col offset-xl-2 offset-lg-1">
            <h1 class="display-4" jhiTranslate="home.title">Welcome, bovine hugger!</h1>
        </div>
    </div>
    <div class="row">
        <div class="offset-xl-2 offset-lg-1"></div>
        <div class="col-xl-4 col-lg-5 col-md-6">
            <p class="lead" jhiTranslate="home.ingress">ingress</p>
            <p class="lead" jhiTranslate="home.body">body</p>
            <p class="lead" jhiTranslate="home.body2">body2</p>
            <p class="lead" jhiTranslate="home.body3">body3</p>
        </div>
        <div class="col-xl-4 col-lg-5 col-md-6">
            <!-- default vimeo code -->
            <div style="padding:177.78% 0 0 0;position:relative;">
                <iframe src="https://player.vimeo.com/video/509492883?autoplay=0"
                        style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
                        allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            </div>
            <script src="https://player.vimeo.com/api/player.js"></script>
            <p>
                <a href="https://vimeo.com/509492883">Baby Rosenknopp</a> from
                <a href="https://vimeo.com/user133101049">Johan Frostmark</a> on <a href="https://vimeo.com">Vimeo</a>.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col offset-xl-2 offset-lg-1">
            <h2 class="display-4" jhiTranslate="homeTech.title">Hello world!</h2>
            <p class="lead" jhiTranslate="homeTech.ingress"></p>
            <p jhiTranslate="homeTech.body"></p>
        </div>
    </div>
</div>
