<div>
    <h1 id="page-heading">
        <span jhiTranslate="bonGatewayApp.farm.aboutus.company.title">Company</span>
    </h1>
    <p><span jhiTranslate="bonGatewayApp.farm.aboutus.company.ingress">ingress</span></p>

    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><span jhiTranslate="bonGatewayApp.farm.aboutus.company.jonas.name"></span></h5>
                    <p class="card-text"><span jhiTranslate="bonGatewayApp.farm.aboutus.company.jonas.email"></span></p>
                    <p class="card-text"><span jhiTranslate="bonGatewayApp.farm.aboutus.company.jonas.mobile"></span></p>
                    <p class="card-text"><span jhiTranslate="bonGatewayApp.farm.aboutus.company.jonas.intro"></span></p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><span jhiTranslate="bonGatewayApp.farm.aboutus.company.birgitta.name"></span></h5>
                    <p class="card-text"><span jhiTranslate="bonGatewayApp.farm.aboutus.company.birgitta.email"></span></p>
                    <p class="card-text"><span jhiTranslate="bonGatewayApp.farm.aboutus.company.birgitta.mobile"></span></p>
                    <p class="card-text"><span jhiTranslate="bonGatewayApp.farm.aboutus.company.birgitta.intro"></span></p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><span jhiTranslate="bonGatewayApp.farm.aboutus.company.richard.name"></span></h5>
                    <p class="card-text"><span jhiTranslate="bonGatewayApp.farm.aboutus.company.richard.email"></span></p>
                    <p class="card-text"><span jhiTranslate="bonGatewayApp.farm.aboutus.company.richard.mobile"></span></p>
                    <p class="card-text"><span jhiTranslate="bonGatewayApp.farm.aboutus.company.richard.intro"></span></p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><span jhiTranslate="bonGatewayApp.farm.aboutus.company.johan.name"></span></h5>
                    <p class="card-text"><span jhiTranslate="bonGatewayApp.farm.aboutus.company.johan.email"></span></p>
                    <p class="card-text"><span jhiTranslate="bonGatewayApp.farm.aboutus.company.johan.mobile"></span></p>
                    <p class="card-text"><span jhiTranslate="bonGatewayApp.farm.aboutus.company.johan.intro"></span></p>
                </div>
            </div>
        </div>

    </div>
</div>
