<article *ngIf="article" class="bon-article cow-article-container">
    <section *ngFor="let section of article.sections" [ngSwitch]="section?.template" [className]="'cow-article-section is-template-' + section?.template">
        <ng-template [ngSwitchCase]="'V1'">
            <h3 *ngIf="section?.title">{{ section?.title }}</h3>
            <p *ngIf="section?.ingress">{{ section?.ingress }}</p>
            <div>
                <p *ngIf="section?.body"><markdown [data]="section!.body!"></markdown></p>
                <figure *ngIf="section?.imageContentType" class="figure cow-section-figure">
                    <img [src]="'data:' + section?.imageContentType + ';base64,' + section?.image" alt=""
                         class="figure-img img-fluid" [width]="section?.width" [height]="section?.height">
                    <figcaption *ngIf="section?.caption" class="figure-caption">{{section?.caption}}</figcaption>
                </figure>
            </div>
        </ng-template>
        <ng-template [ngSwitchCase]="'V2'">
            <h3 *ngIf="section?.title">{{ section?.title }}</h3>
            <p *ngIf="section?.ingress">{{ section?.ingress }}</p>
            <div>
                <p *ngIf="section?.body" class="clearfix">
                    <img [src]="'data:' + section?.imageContentType + ';base64,' + section?.image" alt=""
                                              class="cow-article-section-img img-fluid" [width]="section?.width" [height]="section?.height">
                    <markdown [data]="section!.body!"></markdown>
                </p>
            </div>
        </ng-template>
        <ng-template [ngSwitchCase]="'V3'">
            <h3 *ngIf="section?.title">{{ section?.title }}</h3>
            <p *ngIf="section?.ingress">{{ section?.ingress }}</p>
            <div>
                <p *ngIf="section?.body" class="clearfix">
                    <img [src]="'data:' + section?.imageContentType + ';base64,' + section?.image" alt=""
                         class="cow-article-section-img img-fluid" [width]="section?.width" [height]="section?.height">
                    <markdown [data]="section!.body!"></markdown>
                </p>
            </div>
        </ng-template>
        <ng-template ngSwitchDefault>
            <h3 *ngIf="section?.title">{{ section?.title }}</h3>
            <p *ngIf="section?.ingress">{{ section?.ingress }}</p>
            <div>
                <p *ngIf="section?.body">{{ section?.body }}</p>
                <figure *ngIf="section?.imageContentType" class="figure cow-section-figure">
                    <img [src]="'data:' + section?.imageContentType + ';base64,' + section?.image" alt=""
                         class="figure-img img-fluid" [width]="section?.width" [height]="section?.height">
                    <figcaption *ngIf="section?.caption" class="figure-caption">{{section?.caption}}</figcaption>
                </figure>
            </div>
        </ng-template>
    </section>
</article>
