.cow-article-section {
  &.is-template-V2 {
    .cow-article-section-img {
      float: left;
      padding-right: 1rem;
    }
  }
  &.is-template-V3 {
    .cow-article-section-img {
      float: right;
      padding-left: 1rem;
    }
  }
}
