@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/sketchy/variables';
@import '~bootstrap/scss/variables';

$primary-color: theme-color('primary');

body {
  color: $primary-color;
}

.bon-article {
  .is-template-V2 {
    img {
      float: left;
      padding-right: 1rem;
    }
  }
  .is-template-V3 {
    img {
      float: right;
      padding-left: 1rem;
    }
  }
}

.navbar.bg-primary {
  color: $primary-color;
  border-color: $primary-color;

  .nav-link {
    &:hover {
      text-decoration: underline;
    }
  }

  .dropdown-item {
    color: $primary-color;
    border-color: $primary-color;
    &.active {
      background-color: $primary-color !important;
      color: #ffffff;
    }
    &:hover {
      text-decoration: underline;
      background-color: #ffffff;
    }
  }
}

.navbar-version,
.navbar-title {
  display: none;
}

.img-thumbnail {
  border-color: $primary-color;
}

.card {
  border-color: $primary-color;
}
