@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/sketchy/variables';
@import '~bootstrap/scss/variables';

$primary-color: theme-color('primary');

body {
  color: $primary-color;
}

.loading-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
}

.navbar.bg-primary {
  color: $primary-color;
  border-color: $primary-color;

  a.dropdown-item {
    &.active {
      background-color: $primary-color !important;
    }
  }
}

.img-thumbnail {
  border-color: $primary-color;
}

.card {
  border-color: $primary-color;
}
